/* HeroSection.css */
section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: calc(100vh - 60px);
}

.section1{
    background-color: #DEE7ED;
}

.section2{
    background-color: #FCFCFC;
}

.text-section {
    width: 50%; /* Takes half the width of the parent container */
    flex-direction: column;
    align-items: flex-start;
    padding-right: 50px;
    padding-left: 200px;
}

h1 {
    font-size: 64px;
    margin-bottom: 20px;
    font-family: Noto Sans, sans-serif;
    font-weight: 500; 
    color: #32302F;
    word-wrap: break-word;
}

p {
    font-size: 25px;
    font-weight: normal;
    font-family: Noto Sans, sans-serif;
    font-weight: 400; 
    color: #32302F; 
    word-wrap: break-word;
}

.herosection-gif {
    width: 50%; /* Takes half the width */
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
