.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #FCFCFC;
  z-index: 999;
}

.navbar a {
  text-decoration: none;
}

.logo {
  color: #32302F;
  font-size: 24px;
  font-weight: bold;
  margin-left: 0px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-links li {
  color: #32302F;
  cursor: pointer;
  font-weight: bold; /* Makes text bold */
  padding: 0 25px; /* Adds padding to left and right of each li */
}

.get-started {
  background-color: #32302F;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: bold; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 0px;
}

.nav-links li:hover {
  color: #668810; /* Or any other color for hover state */
}

